.status-badge {
    display: flex;
    align-items: center;
    max-width: 75px;
    gap: 0.4rem;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

.status-badge.active {
    background: linear-gradient(135deg, var(--success-100), var(--success-200));
    color: var(--success-800);
}

.status-badge.inactive {
    background: linear-gradient(135deg, var(--gray-100), var(--gray-200));
    color: var(--gray-700);
}

/* Badges de Estado del Pedido */

.badge-estado-pendiente {
    display: flex;
    align-items: center;
    max-width: 95px;
    gap: 0.4rem;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    background: rgba(59, 130, 246, 0.1);
    color: #1d4ed8;
}

.badge-estado-completado {
    display: flex;
    align-items: center;
    max-width: 110px;
    gap: 0.4rem;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    background: rgba(34, 197, 94, 0.1);
    color: #059669;
}

.badge-estado-cancelado {
    display: flex;
    align-items: center;
    max-width: 105px;
    gap: 0.4rem;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    background: rgba(239, 68, 68, 0.1);
    color: #dc2626;
}

/* Badges de Cliente */

.cliente-tipo.nuevo {
    max-width: 105px;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    background: rgba(68, 239, 99, 0.256);
    color: #044200;
    white-space: nowrap;
}

.cliente-tipo.regular {
    max-width: 105px;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    background: rgba(239, 171, 68, 0.256);
    color: #a56601;
    white-space: nowrap;
}

.cliente-tipo.frecuente {
    max-width: 105px;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    background: rgba(88, 68, 239, 0.256);
    color: #1c01a5;
    white-space: nowrap;
}

.cliente-tipo.vip {
    max-width: 105px;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    background: rgba(68, 210, 239, 0.256);
    color: #01a597;
    white-space: nowrap;

}